flows.json
[{"id":"8374902b.9327c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dc89d9aa.630078","type":"function","z":"8374902b.9327c","name":"set geometry_msg/Twist","func":"var twist = {\nlinear : {\n    x : 0.1,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n}\n};\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":400,"wires":[[]]},{"id":"48694c57.1a3dc4","type":"function","z":"8374902b.9327c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":20,"wires":[[]]},{"id":"b5ddc745.2cfd88","type":"function","z":"8374902b.9327c","name":"set std_msgs/Int16","func":"var msg_int16 = {\ndata : 7\n};\nmsg.payload = msg_int16;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":360,"wires":[[]]},{"id":"1f38e77d.dc1b39","type":"websocket out","z":"8374902b.9327c","name":"","server":"","client":"6f8030ad.cb1b7","x":510,"y":360,"wires":[]},{"id":"b4dfd5f3.c176f8","type":"inject","z":"8374902b.9327c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"eyes","payload":"7","payloadType":"num","x":80,"y":320,"wires":[["b5ddc745.2cfd88","92587c75.5b817"]]},{"id":"93fd84da.6f11d8","type":"function","z":"8374902b.9327c","name":"set rosbridge_msg","func":"var rosbridge_msg = {\n'op' : 'publish',\n'topic' : 'eyes',\n'msg' : 7\n};\nmsg.payload = rosbridge_msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":280,"wires":[[]]},{"id":"9557f4d7.9a72e8","type":"exec","z":"8374902b.9327c","command":"rostopic ","addpay":false,"append":"pub eyes std_msgs/Int16 \"data: 7\"","useSpawn":"false","timer":"20","oldrc":false,"name":"","x":280,"y":520,"wires":[["afbef379.aa3e2"],["faaac446.4e6018"],["f02f84f9.7b8128"]]},{"id":"bfd682bc.99689","type":"inject","z":"8374902b.9327c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":90,"y":520,"wires":[[]]},{"id":"afbef379.aa3e2","type":"debug","z":"8374902b.9327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":480,"wires":[]},{"id":"faaac446.4e6018","type":"debug","z":"8374902b.9327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":540,"wires":[]},{"id":"f02f84f9.7b8128","type":"debug","z":"8374902b.9327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":600,"wires":[]},{"id":"ef6eea16.ddc0a8","type":"debug","z":"8374902b.9327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":160,"wires":[]},{"id":"25dbec66.0c3434","type":"function","z":"8374902b.9327c","name":"set publish_rosbridge_msg","func":"var rosbridge_msg = {\n\"op\" : \"publish\",\n\"topic\" : \"/eyes\",\n\"msg\" : 7\n};\nmsg.payload = rosbridge_msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":200,"wires":[[]]},{"id":"17e7bee1.000bb1","type":"function","z":"8374902b.9327c","name":"set suscribe_rosbridge_msg","func":"var rosbridge_msg = {\n'op' : 'suscribe',\n'topic' : '/chatter',\n'type' : 'std_msgs/String'\n};\nmsg.payload = rosbridge_msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":120,"wires":[["f099cd3d.c09b9"]]},{"id":"f099cd3d.c09b9","type":"debug","z":"8374902b.9327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"e59a0b50.fdc378","type":"websocket in","z":"8374902b.9327c","name":"","server":"","client":"b67d07c.e1ecef8","x":100,"y":160,"wires":[["17e7bee1.000bb1","c4e8332b.82c99"]]},{"id":"c4e8332b.82c99","type":"debug","z":"8374902b.9327c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":80,"y":100,"wires":[]},{"id":"92587c75.5b817","type":"function","z":"8374902b.9327c","name":"set publish_rosbridge_msg","func":"var rosbridge_msg = {\n\"op\" : \"publish\",\n\"topic\" : \"/eyes\",\n\"data\" : 7\n};\n\nmsg.payload = rosbridge_msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["516ba879.97c6f8","8c5cc8c6.5205d8"]]},{"id":"bb31408.5177ac","type":"template","z":"8374902b.9327c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":150,"y":740,"wires":[[]]},{"id":"bb5eb56c.ca2ff8","type":"change","z":"8374902b.9327c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":760,"wires":[[]]},{"id":"8c5cc8c6.5205d8","type":"json","z":"8374902b.9327c","name":"","property":"payload","action":"str","pretty":false,"x":510,"y":280,"wires":[["1f38e77d.dc1b39","ef6eea16.ddc0a8"]]},{"id":"516ba879.97c6f8","type":"debug","z":"8374902b.9327c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"6f8030ad.cb1b7","type":"websocket-client","path":"ws://localhost:9090/eyes","tls":"","wholemsg":"false"},{"id":"b67d07c.e1ecef8","type":"websocket-client","path":"ws://localhost:9090","tls":"","wholemsg":"true"}]